@model WebAppBienes.Models.BienesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BienesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FolioReal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioReal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Financiamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Financiamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenteTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenteTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FondoTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FondoTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopografiaTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopografiaTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoSuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoSuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaConstrucción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaConstrucción)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
