@model WebAppBienes.Models.BienesModel

@{
    ViewBag.Title = "Details";
    HttpContext context = HttpContext.Current;
    string baseUrl = context.Request.Url.AbsoluteUri;
}

<h2>Details</h2>

<div>
    <h4>BienesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FolioReal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioReal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Financiamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Financiamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenteTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenteTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FondoTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FondoTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopografiaTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopografiaTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoSuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoSuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaConstrucción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaConstrucción)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <a href="@Html.DisplayFor(model => model.Image)">Ver Imagenes</a>
        </dd>

    </dl>
</div>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId=566147480224899";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="@baseUrl" data-numposts="5"></div>



@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 

}

    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Back to List", "Index") 
    }

